* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    color: #303233;
    text-align: center;
    line-height: 1.5;
    background-color: #efefef;
}


#title {
    line-height: 1.2;
    font-size: 2rem;
    padding-top: 1rem;
    background: #DCF3FF;
    margin: 0.2rem;
    margin-bottom: 0;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 1px 5px 6px rgba(0, 0, 0, 0.1);
}
h3 {
    padding: 0.5rem;
    font-style: italic;
    background: #DCF3FF;
    margin: 0.2rem;
    margin-top: 0;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.1);
}

img {
    display: block;
}

#main #image{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
#main #img-div{
    margin: 0.2rem;
    margin-top: 1rem;
    padding: 10px;
    background-color: #DCF3FF;
    border-radius: 10px;
    font-size: 0.6rem;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
}

#main #img-caption {
    background-color: #DCF3FF;
    margin: 0.2rem 0 0.1rem 0;
    text-align: center;
}
#main #tribute-info {
    margin: 0.2rem;
    margin-top: 1rem;
    padding: 10px;
    background-color: #DCF3FF;
    border-radius: 10px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
}
#info-title{
    background-color: #DCF3FF;
    font-size: 1.5rem;
    padding: 1rem 1rem;
}
summary{
    background-color: #DCF3FF;
    list-style: none;
    text-align: left;
    margin: 0.5rem;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}
details p{
    background-color: white;
    text-align: justify;
    border-radius: 10px;
    padding: 1rem;
    margin: 0.5rem;
}
details{
    background-color: #DCF3FF;
}
div{
    background-color: #DCF3FF;
}
blockquote{
    margin: 2rem;
    background-color: #DCF3FF;
}
blockquote p {
    background-color: #DCF3FF;
    font-style: italic;
    padding-bottom: 2rem;
    text-align: justify;
}
blockquote img{
    max-width: 100%;
    height: auto;
    background-color: #DCF3FF;
}

summary:hover{
    background-color: #00bcf5;
    color: white;
    border-radius: 10px;
}
details[open] summary {
        background-color: #00bcf5;
        color: white;
        border-radius: 10px;
}
#main #tribute-link{
    text-decoration: none;
    color: #00bcf5;
}
p{
    margin: 3px;
    margin-top: 2rem;
    padding: 3px;
    text-align: left;
}

@media screen and (min-width: 460px) {
    #main{
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    blockquote img{
        margin-left: auto;
        margin-right: auto;
    }
}